
   
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>ProductCategorization</title>
  </head>
  <body>
	<header>
		<div class="container">
		<div id="brandname">
			Machine Learning App with Flask
		</div>
		<h2>Prediction of Product Category @Shopree.com</h2>
		
	</div>
	</header>
    <form  method="POST">
		<p>Enter Your Product Item Name Here</p>
		<!-- <input type="text" name="comment"/> -->
		<textarea name="message" rows="6" cols="50"></textarea>
		<br/>

		<input type="submit" class="btn-info" value="predict">
		
      </form>
  </body>
</html>

	

	
	

</body>
</html>